.size {
    position: fixed;
    top: 0;
    left: 0;
}

.d-flex.justify-content-center.custom-y {
    top: 200px;
}

.size.video-custom-maker {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    /* transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg); */
    /* Firefox */
    min-height: 100%;
}

.new-video-custom {
    z-index: 0;
    margin-top: 36px;
    display: flex;
    height: 90vh;
    width: 100%;
}

.new-video-custom video {
    width: 100vw!important;
    height: 100vh!important;
}

.rotate-me {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.new-video-custom .styles_CameraButtons_mobile_2MRGci9E3394gOq5VCwxVA {
    background-color: black!important;
    /* opacity: 0; */
    z-index: -1;
    margin-bottom: -1vh;
}

.size-validator#canvas-validator {
    position: absolute;
    border: 3px #ffffff solid;
    top: 32vh;
    height: 26vh;
    width: 90%;
    max-width: 343px;
    z-index: 2;
}

.size-validator#canvas-validator-fullflavour {
    position: fixed;
    border: 3px #ffffff solid;
    top: 50px;
    height: 65%;
    width: 90%;
    z-index: 2;
    /* left: 50%;
    margin-left: -200px; */
}

.content-center-custom {
    position: absolute;
    left: 50%;
}

.container-canvas {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.round-validator {
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    border-radius: 50%;
    border: 3px #ffffff solid;
    z-index: 2;
    height: 300px;
    width: 250px;
}

@media (min-width: 375px) and (max-height: 700px) {
    /* .size-validator#canvas-validator-fullflavour {
        position: absolute;
        display: flex;
        border: 3px #ffffff solid;
        top: 10px;
        height: 250px;
        width: 210px;
    } */
    .round-validator {
        -moz-border-radius: 80px;
        -webkit-border-radius: 80px;
        border-radius: 40%;
        border: 3px #ffffff solid;
        z-index: 2;
        max-height: 300px;
        max-width: 270px;
    }
    #card-validator.card-validator {
        height: 150px;
        width: 220px;
        bottom: 100px !important;
        left: 75px !important;
    }
}

@media (min-width: 360px) and (max-height: 640px) {
    .size-validator#canvas-validator-fullflavour {
        position: absolute;
        display: flex;
        border: 3px #ffffff solid;
        top: 5px;
        height: 470px;
        /* left: 50%;
        margin-left: -200px; */
        width: 330px;
    }
    #card-validator.card-validator {
        height: 130px;
        width: 200px;
        bottom: 100px !important;
        left: 70px !important;
    }
    #round-validator.round-validator {
        -moz-border-radius: 80px;
        -webkit-border-radius: 80px;
        border-radius: 50%;
        border: 3px #ffffff solid;
        z-index: 2;
        height: 250px;
        width: 200px;
        position: absolute;
        top: 95px !important;
    }
}

@media (min-width: 1024px) and (max-height: 1400px) {
    .size-validator#canvas-validator-fullflavour {
        position: absolute;
        display: flex;
        border: 3px #ffffff solid;
        top: 5px;
        height: 400px;
        /* left: 50%;
        margin-left: -200px; */
        width: 310px;
    }
    #card-validator.card-validator {
        height: 250px;
        width: 400px;
        bottom: 350px !important;
        left: 30% !important;
    }
    #round-validator.round-validator {
        -moz-border-radius: 80px;
        -webkit-border-radius: 80px;
        border-radius: 50%;
        border: 3px #ffffff solid;
        z-index: 2;
        height: 550px;
        width: 400px;
        top: 120px !important;
        position: absolute;
        left: 30% !important;
    }
}

@media (min-width: 1024px) and (max-height: 1400px) {
    .size-validator#canvas-validator-fullflavour {
        position: absolute;
        display: flex;
        border: 3px #ffffff solid;
        top: 5px;
        height: 400px;
        /* left: 50%;
        margin-left: -200px; */
        width: 310px;
    }
    #card-validator.card-validator {
        height: 250px;
        width: 400px;
        bottom: 350px !important;
        left: 30% !important;
    }
    #round-validator.round-validator {
        -moz-border-radius: 80px;
        -webkit-border-radius: 80px;
        border-radius: 50%;
        border: 3px #ffffff solid;
        z-index: 2;
        height: 550px;
        width: 400px;
        top: 120px !important;
        position: absolute;
        left: 30% !important;
    }
}

@media (min-width: 768px) and (max-height: 1024px) {
    .size-validator#canvas-validator-fullflavour {
        position: absolute;
        display: flex;
        border: 3px #ffffff solid;
        top: 5px;
        height: 400px;
        /* left: 50%;
        margin-left: -200px; */
        width: 310px;
    }
    #card-validator.card-validator {
        height: 220px;
        width: 350px;
        bottom: 200px !important;
        left: 30% !important;
    }
    #round-validator.round-validator {
        -moz-border-radius: 80px;
        -webkit-border-radius: 80px;
        border-radius: 50%;
        border: 3px #ffffff solid;
        z-index: 2;
        height: 450px;
        width: 350px;
        top: 100px !important;
        position: absolute;
        left: 30% !important;
    }
}

@media (max-width: 350px) and (min-height: 670px) {
    .size-validator#canvas-validator-fullflavour {
        position: absolute;
        display: flex;
        border: 3px #ffffff solid;
        top: 5px;
        height: 400px;
        /* left: 50%;
        margin-left: -200px; */
        width: 310px;
    }
    #card-validator.card-validator {
        max-height: 200px;
        max-width: 255px;
        bottom: 150px !important;
        left: 55px !important;
    }
    #round-validator.round-validator {
        -moz-border-radius: 80px;
        -webkit-border-radius: 80px;
        border-radius: 50%;
        border: 3px #ffffff solid;
        z-index: 2;
        max-height: 300px;
        max-width: 270px;
    }
}

@media only all and (min-width: 320px) and (max-height: 630px) {
    .size-validator#canvas-validator-fullflavour {
        position: absolute;
        display: flex;
        border: 3px #ffffff solid;
        top: 5px;
        height: 400px;
        /* left: 50%;
        margin-left: -200px; */
        width: 310px;
    }
    #card-validator.card-validator {
        height: 120px;
        width: 200px;
        bottom: 90px !important;
        left: 55px !important;
    }
    #round-validator.round-validator {
        -moz-border-radius: 80px;
        -webkit-border-radius: 80px;
        border-radius: 40%;
        border: 3px #ffffff solid;
        z-index: 2;
        height: 200px;
        width: 200px;
    }
}


/* @media (min-width: 450px) {
    
    .round-validator {
        -moz-border-radius: 80px;
        -webkit-border-radius: 80px;
        border-radius: 40%;
        border: 3px #ffffff solid;
        z-index: 2;
        max-height: 300px;
        max-width: 270px;
    }

    .size-validator#canvas-validator-fullflavour {
        position: absolute;
        display: flex;
        border: 3px #ffffff solid;
        top: 50px;
        height: 500px;
        width: 400px;
        min-width: 400px;
    }

    .MuiBox-root.MuiBox-root-1#box-component-button {
        margin-inline-start: 35px;
    }

} */

@media (min-width: 411px) and (max-height: 830px) {
    #card-validator.card-validator {
        max-height: 200px;
        max-width: 255px;
        bottom: 120px !important;
        left: 70px !important;
    }
    .round-validator {
        -moz-border-radius: 80px;
        -webkit-border-radius: 80px;
        border-radius: 40%;
        border: 3px #ffffff solid;
        z-index: 2;
        max-height: 300px;
        max-width: 270px;
    }
}

.card-validator {
    position: absolute;
    border: 3px #ffffff solid;
    height: 170px;
    width: 255px;
}

video#tensor-flow-video {
    height: 1000px;
    width: 337px;
}

.pinkBg {
    background-image: linear-gradient(90deg, #CAD3C8, #dfe4ea);
}

.container-button {
    position: fixed;
    bottom: -1vh;
}

.btns {
    height: 70px;
    width: 70px;
    text-align: center;
    margin: -40px 0 0 -40px;
    border-radius: 100px;
    z-index: 1
}

.faceUser {
    background-image: linear-gradient(90deg, #fdeaef, #e9b59d);
}

.userBtns {
    position: absolute;
    bottom: 15px;
    left: -90px;
    height: 40px;
    width: 40px;
    text-align: center;
    margin: -50px 0 0 -50px;
    border-radius: 100px;
    z-index: 1;
}

.faceEnvironment {
    background-image: linear-gradient(90deg, #fdeaef, #e9b59d);
}

.environmentBtns {
    position: absolute;
    bottom: 15px;
    left: 150px;
    height: 40px;
    width: 40px;
    text-align: center;
    margin: -50px 0 0 -50px;
    border-radius: 100px;
    z-index: 1;
}


/* .btns .ripple:nth-child(2) {
    animation-delay: .3s;
    -webkit-animation-delay: .3s
}

.btns .ripple:nth-child(3) {
    animation-delay: .6s;
    -webkit-animation-delay: .6s
} */

@-webkit-keyframes ripple {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes ripple {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.container-button .sub-icon-div {
    border: 2px solid #ADA6AE;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* justify-content: center; */
    display: inherit;
    position: absolute;
    top: 12%;
}

.container-button .super-icon-div {
    border: 2px solid #ADA6AE;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* justify-content: center; */
    display: inherit;
}

.div-value-white-canvas-down {
    bottom: 0px;
    background: white;
    position: fixed;
    height: 15%;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.div-value-white-canvas-up {
    top: 0px;
    background: white;
    position: fixed;
    height: 5%;
    width: 100%;
    text-align: end;
}


/*------------------------------------------------------------------
  [ Responsive ]*/


/*
@media (max-width: 350px) {
    .size-validator#canvas-validator {
        width: 98%;
        margin-left: -50%;
    }
}

@media (max-width: 418px) {
    .size-validator#canvas-validator {
        width: 98%;
        margin-left: -50%;
    }
    .size-validator#canvas-validator-fullflavour {
        width: 98%;
        margin-left: -50%;
    }
}

@media (max-height: 510px) {
    .size-validator#canvas-validator {
        top: 20%;
    }
}

@media (max-height: 390px) {
    .size-validator#canvas-validator {
        top: 15%;
    }
}

@media(max-height:679px) {
    .size-validator#canvas-validator-fullflavour {
        top: 30px;
        height: 70%;
        width: 300px;
        left: 50%;
        margin-left: -150px;
    }
}

@media(max-height:536px) {
    .size-validator#canvas-validator-fullflavour {
        top: 20px;
        height: 70%;
        width: 300px;
        left: 50%;
        margin-left: -150px;
    }
}

@media(max-height:500px) {
    .size-validator#canvas-validator-fullflavour {
        top: 20px;
        height: 65%;
        width: 300px;
        left: 50%;
        margin-left: -150px;
    }
}
*/