.tail-datetime-calendar {
    position: relative;
    box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.22), 0px 19px 38px rgba(0, 0, 0, 0.3);
    padding: 4.072vw;
}

.tail-datetime-calendar .calendar-date .calendar-day thead {
    font-family: 'TTInterfaces';
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    font-size: 2.915vw;
}

.tail-datetime-calendar .fa.fa-chevron-right.custom-wagon {
    color: rgba(97, 90, 90, 1);
    font-size: 2.856vw;
    padding-left: 14.726vw;
}

.tail-datetime-calendar .fa.fa-chevron-left.custom-wagon {
    color: rgba(97, 90, 90, 1);
    font-size: 2.856vw;
    padding-right: 14.726vw;
}

.tail-datetime-calendar .calendar-label {
    font-family: 'TTInterfaces';
    font-weight: 700;
    font-size: 3.620vw;
    padding-right: 1vw;
}

.tail-datetime-calendar .calendar-label-year {
    font-family: 'TTInterfaces';
    font-weight: 700;
    font-size: 3.620vw;
}

.tail-datetime-calendar .calendar-date .calendar-day tbody {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 2.715vw;
    color: rgba(0, 0, 0, 0.87);
}

.tail-datetime-calendar .calendar-date {
    padding-top: 4.525vw;
}

.tail-datetime-calendar .calendar-date .calendar-day thead th {
    padding: 3vw;
}

.tail-datetime-calendar .calendar-date .calendar-day tbody td {
    padding: 2vw;
}

.tail-datetime-calendar .calendar-date .calendar-day tbody td.current-today {
    color: rgba(0, 125, 254, 1);
}

.tail-datetime-calendar .calendar-date .calendar-day tbody td.selected-value {
    border-radius: 50%;
    background-color: rgba(0, 125, 254, 1);
    color: white;
    font-weight: 700;
    padding: 2.56vw;
}

.tail-datetime-calendar .batal {
    color: rgba(0, 125, 254, 1);
    font-family: 'TTInterfaces';
    font-weight: 700;
    font-size: 3.167vw;
}

.tail-datetime-calendar .ok {
    color: rgba(0, 125, 254, 1);
    font-family: 'TTInterfaces';
    font-weight: 700;
    font-size: 3.167vw;
}

.tail-datetime-calendar .batal {
    padding-right: 31vw;
}