.pencairan-me-container .header-you-know {
    position: relative;
    top: 16.525vw;
    left: 5.020vw;
    box-shadow: 0.452vw 0.452vw 2.036vw rgba(0, 0, 0, 0.1);
    width: 88vw;
    padding-top: 1.057vw;
    padding-left: 2.057vw;
}

.pencairan-me-container .header-you-know .informasi {
    font-weight: 400;
    color: rgba(58, 77, 91, 1);
    font-size: 3.32vw;
}

.pencairan-me-container .header-you-know .jadwal {
    position: relative;
    top: -3.2vw;
    color: rgba(58, 77, 91, 1);
    font-weight: 700;
    font-size: 3.667vw;
    line-height: 4.751vw;
    width: 75vw;
}

.pencairan-me-container .header-you-know .fa.fa-chevron-down.custom-wagon {
    position: absolute;
    left: 80vw;
    top: 9.644vw;
    font-size: 3.567vw;
    color: #007acf;
}

.pencairan-me-container .header-you-know .fa.fa-chevron-up.custom-wagon {
    position: absolute;
    left: 80vw;
    top: 9.644vw;
    font-size: 3.567vw;
    color: #007acf;
}

.pencairan-me-container .rincian-detail-rekening {
    position: relative;
    top: 17.86vw;
    left: 5vw;
}

.pencairan-me-container .rincian-detail-rekening .header {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 3.015vw;
    color: rgba(1, 26, 44, 1);
}

.pencairan-me-container .rincian-detail-rekening .money {
    font-weight: 700;
    font-family: 'Montserrat';
    margin-top: 1vw;
    font-size: 4.072vw;
    color: rgba(26, 26, 26, 1);
}

.pencairan-me-container .rincian-detail-rekening .rincian-button {
    position: relative;
    top: -4.78vw;
    left: 77vw;
    font-weight: 700;
    font-size: 3.620vw;
    font-family: 'Nunito';
    color: rgba(0, 122, 207, 1);
}

.pencairan-me-container .rincian-detail-rekening .wording-footer {
    position: relative;
    top: -5vw;
    font-weight: 400;
    color: rgba(157, 167, 174, 1);
    font-size: 3.167vw;
}

.pencairan-me-container .riwayat-container {
    position: relative;
    top: 13vw;
    background-color: rgba(246, 247, 248, 1);
    // padding-top: 1.584vw;
    // padding-bottom: 1.584vw;
    padding-left: 4.620vw;
}

.pencairan-me-container .riwayat-wording {
    padding: 1.567vw 0;
    color: rgba(101, 118, 139, 1);
    font-size: 3.167vw;
}

.pencairan-me-container .list-riwayat-container {
    position: relative;
    top: 16vw;
    left: 5vw;
    width: 89vw;
}

.pencairan-me-container .list-riwayat-container .bottom-divider {
    position: relative;
    top: -6vw;
    border-bottom: #E8EBEC 0.56vw solid;
    padding-bottom: 4vw;
}

.pencairan-me-container .list-riwayat-container .check {
    height: 5vw;
    width: 5vw;
}

.pencairan-me-container .list-riwayat-container .money {
    position: relative;
    top: -9vw;
    left: 10vw;
    color: #011A2C;
    font-weight: 700;
    font-size: 3.767vw;
    font-family: 'Nunito';
}

.pencairan-me-container .list-riwayat-container .date {
    position: relative;
    font-size: 2.715vw;
    color: #65768B;
    top: -8vw;
    left: 10vw;
}

.overlay-bottom-rincian {
    width: 100%;
    bottom: 0;
    position: fixed;
    // background: black;
    // height: 100vh;
}

.overlay-bottom-rincian .overLay-background-deflect {
    width: 100%;
    height: 100vh;
    background: black;
    padding-top: 4vw;
    position: fixed;
    bottom: 0;
    opacity: 26%;
}

.overlay-bottom-rincian .rincian-detail-rekening {
    width: 100%;
    background: white;
    padding-top: 4vw;
    position: fixed;
    bottom: 0;
}

.overlay-bottom-rincian .rincian-detail-rekening .header {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 4.267vw;
    color: black;
    text-align: center;
    padding-bottom: 6vw;
}

.overlay-bottom-rincian .rincian-detail-rekening .topHeader {
    padding-left: 6vw;
    /* margin-left: 6vw; */
    padding-bottom: 3vw;
    border-bottom: #E8EBEC 1px solid;
}

.overlay-bottom-rincian .rincian-detail-rekening .topHeader .money {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 4.072vw;
    color: rgba(26, 26, 26, 1);
}

.overlay-bottom-rincian .rincian-detail-rekening .topHeader .wording-footer {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 3.167vw;
    color: rgba(157, 167, 174, 1);
}

.overlay-bottom-rincian .rincian-detail-rekening .alowanceHeader {
    padding-top: 3vw;
    margin-left: 6vw;
    width: 90%;
    border-bottom: #E8EBEC 1px solid;
}

.overlay-bottom-rincian .rincian-detail-rekening .alowanceHeader .potongan {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 3.620vw;
    color: rgba(0, 0, 0, 1);
    width: 39%;
}

.overlay-bottom-rincian .rincian-detail-rekening .alowanceHeader .potongan-money {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 3.620vw;
    color: black;
    margin-right: 5.744vw;
    text-align: end;
    position: relative;
    top: -8vw;
}

.overlay-bottom-rincian .rincian-detail-rekening .alowanceHeader .list-transaksi-dicairkan {
    background: #F7F8F9;
    margin-bottom: 4.267vw;
    padding-left: 4.267vw;
    padding-right: 4.267vw;
    height: 40.667vw;
    overflow-x: hidden;
    padding-top: 4.267vw;
    position: relative;
}

.overlay-bottom-rincian .rincian-detail-rekening .alowanceHeader .list-transaksi-dicairkan .wording {
    width: 46.133vw;
    font-size: 3.200vw;
}

.overlay-bottom-rincian .rincian-detail-rekening .alowanceHeader .list-transaksi-dicairkan .time {
    color: #65768B;
    font-size: 3.200vw;
}

.overlay-bottom-rincian .rincian-detail-rekening .alowanceHeader .list-transaksi-dicairkan .money {
    position: relative;
    text-align: end;
    top: -7.2vw;
    color: #011A2C;
    font-weight: 700;
    font-size: 3.733vw;
}

.overlay-bottom-rincian .rincian-detail-rekening .alowanceHeader .svgs {
    direction: rtl;
    position: relative;
    margin-top: -7vw;
    top: -6.5vw;
}

.overlay-bottom-rincian .rincian-detail-rekening .biayaHeader {
    padding-top: 3vw;
    margin-left: 6vw;
    width: 90%;
}

.overlay-bottom-rincian .rincian-detail-rekening .biayaHeader .containerStruts .biaya {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 3.620vw;
    color: rgba(0, 0, 0, 1);
}

.overlay-bottom-rincian .rincian-detail-rekening .biayaHeader .containerStruts .biaya-footer {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 2.715vw;
    color: rgba(157, 167, 174, 1);
}

.overlay-bottom-rincian .rincian-detail-rekening .biayaHeader .biaya-money {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 3.620vw;
    color: rgba(0, 0, 0, 1);
    text-align: end;
    position: relative;
    top: -7vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi {
    // position: absolute;
    // padding: 5vw;
    // padding-bottom: 0vw;
    // top: 19vw;
    // box-shadow: 0px 1vw 2vw rgba(0, 0, 0, 0.15);
    z-index: 1;
    position: absolute;
    padding: 5vw;
    padding-bottom: 7vw;
    top: 19vw;
    width: 90%;
    background: white;
    box-shadow: 0px 1vw 2vw rgba(0, 0, 0, 0.15);
}

.riwayat-transaksi-container .riwayat-date-transaksi.inRelativePosition {
    position: relative !important;
}

.riwayat-transaksi-container .riwayat-date-transaksi .bulan-tahun {
    position: relative;
    font-weight: 700;
    margin-left: 1vw;
    top: 0vw;
    left: 0vw;
    font-size: 4.273vw;
    color: #263C5E;
    padding-top: 14.972vw;
    font-family: 'Montserrat';
    padding-bottom: 4vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .header-total {
    position: relative;
    background-color: #F7F8F9;
    margin-left: -1vw;
    /* padding-bottom: 1vw; */
    margin-bottom: 5vw;
    top: 3vw;
    width: 100%;
}

.riwayat-transaksi-container .riwayat-date-transaksi .header-total .total-sementara {
    padding-top: 4.333vw;
    padding-bottom: 4.333vw;
    font-weight: 700;
    padding-left: 3vw;
    color: rgba(48, 59, 74, 0.4);
    font-size: 4.267vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .header-total .sebelum-biaya {
    position: absolute;
    font-size: 3.200vw;
    padding-top: 4.267vw;
    /* top: 1vw; */
    padding-left: 3vw;
    color: rgba(48, 59, 74, 0.72);
}

.riwayat-transaksi-container .riwayat-date-transaksi .header-total .after-admin {
    position: absolute;
    top: 18.996vw;
    font-size: 3.200vw;
    right: 4.353vw;
    padding-right: 3vw;
    font-weight: 700;
    color: #121518;
}

.riwayat-transaksi-container .riwayat-date-transaksi .header-total .before-admin {
    position: absolute;
    top: 4.257vw;
    font-size: 4.267vw;
    font-weight: 700;
    padding-right: 2vw;
    right: 8.111vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .header-total .svgs-header {
    position: absolute;
    top: 3.996vw;
    right: 3.669vw;
}

.notifikasi-me-container .button-anomali .anomali.edit-riwayat {
    padding-top: 1.941vw;
    padding-bottom: 1.941vw;
    left: -1vw;
    width: 100%;
}

.riwayat-transaksi-container .riwayat-date-transaksi .periode-button {
    position: absolute;
    top: 18.67vw;
    border: 0.123vw solid #E8F3FC;
    padding-top: 1.05vw;
    padding-bottom: 1.05vw;
    padding-left: 4.415vw;
    padding-right: 4.415vw;
    /* border-radius: 3vw; */
    left: 61vw;
    font-size: 3.542vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .periode-button .date-flatter {
    width: 7vw;
    height: 6vw;
    position: relative;
    top: 0.56vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .periode-button span {
    font-family: 'TTInterfaces';
    font-weight: 600;
    color: #0057E7;
    position: relative;
    top: -0.34vw;
    margin-left: 1vw;
    /* margin-top: 8vw; */
    font-size: 3.56vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .detail {
    margin-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10vw;
    padding-top: 2vw;
    padding-bottom: 1vw;
    // border-radius: 50%;
}

.overlay-bottom-rincian .button-close-rincian {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 3vw;
    /* justify-content: center; */
    padding-bottom: 3vw;
}

.overlay-bottom-rincian .button-close-rincian span {
    background-color: #0057E7;
    /* padding: 2vw; */
    width: 89%;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 1.456vw;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3.620vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .detail.active {
    background-color: #0057E7;
    border-radius: 1vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .detail.active .tanggal {
    color: white;
    font-weight: 700;
}

.riwayat-transaksi-container .riwayat-date-transaksi .detail.active .hari {
    color: white;
    font-weight: 700;
}

.riwayat-transaksi-container .riwayat-date-transaksi .selected-date {
    display: flex;
    justify-content: center;
    width: 97%;
    padding-bottom: 4vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .start {
    color: rgba(0, 122, 207, 1);
    font-weight: 700;
    font-size: 3.92vw;
    margin-right: 1vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .end {
    margin-left: 1vw;
    color: rgba(0, 122, 207, 1);
    font-weight: 700;
    font-size: 3.92vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .strip {
    color: rgba(0, 122, 207, 1);
    font-weight: 700;
    font-size: 3.92vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .tanggal {
    display: flex;
    width: 100%;
}

.riwayat-transaksi-container .riwayat-date-transaksi .tanggal .tanggal {
    font-weight: bold;
    font-family: 'Nunito';
    font-size: 3.587vw;
    color: #0057E7;
    font-weight: 700;
}

.riwayat-transaksi-container .riwayat-date-transaksi .hari {
    font-size: 3.139vw;
    font-family: 'Nunito';
    font-weight: 400;
    color: #0057E7;
    font-weight: 700;
    top: -1vw;
}

.riwayat-transaksi-container .container-transaksi-detail {
    width: 100%;
    /* position: relative; */
    /* height: 105vw; */
    // background-color: #F7F8F9;
    overflow: hidden;
    z-index: -1;
    /* top: 49vw; */
    padding-top: 66vw;
    padding-bottom: 5vw;
}

// .riwayat-transaksi-container .total-transaksi-container {
//     padding-bottom: 4.267vw;
//     padding-top: 4.267vw;
//     margin-left: 4vw;
//     margin-right: 4vw;
//     position: relative;
//     margin-left: 4vw;
//     margin-right: 4vw;
//     // top: 51vw;
//     padding-left: 6vw;
//     box-shadow: 0px 0.267vw 0.533vw rgba(0, 0, 0, 0.06), 0px 0.533vw 0.267vw rgba(0, 0, 0, 0.04), 0px 0.267vw 5px rgba(0, 0, 0, 0.08);
// }
.riwayat-transaksi-container .total-transaksi-container {
    padding-bottom: 4.267vw;
    padding-top: 10.267vw;
    margin-left: 3vw;
    margin-right: 5vw;
    position: relative;
    display: flex;
    z-index: -1;
    padding-left: 2vw;
}

.riwayat-transaksi-container .total-transaksi-container .header {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    color: rgba(48, 59, 74, 0.72);
    font-size: 3.865vw;
    padding-bottom: 1vw;
}

.riwayat-transaksi-container .total-transaksi-container .money {
    right: 0vw;
    right: 3.669vw;
    font-family: 'Montserrat';
    color: rgba(48, 59, 74, 0.72);
    font-size: 3.865vw;
    position: absolute;
}

.riwayat-transaksi-container .total-transaksi-container .footer {
    font-family: 'Nunito';
    font-weight: 400;
    color: #9DA7AE;
    font-size: 3.125vw;
}

.riwayat-transaksi-container .total-transaksi-container .divider {
    position: relative;
    top: 2vw;
    border-top: #E8EBEC 1px solid;
    width: 95%;
}

.riwayat-transaksi-container .riwayat-date-transaksi .box-wielder-notsettle-new2 {
    position: relative;
    background-color: white;
    margin-top: 4.527vw;
    margin-bottom: -2.39vw;
    width: 90vw;
}

.padding-none {
    padding: 0!important;
}

.margin-none {
    margin: 0!important;
}

.box-shadow-none {
    box-shadow: none!important;
}

.riwayat-transaksi-container .detail-big-container {
    position: relative;
    /* top: 59vw; */
    padding-left: 4.5vw;
    z-index: 0;
}

.riwayat-transaksi-container .detail-big-container .detail-riwayat-container {
    position: relative;
    border-bottom: #E8EBEC 0.23vw solid;
    width: 95%;
    padding-bottom: 1vw;
}

.riwayat-transaksi-container .detail-big-container .detail-riwayat-container .riwayat-pembayaran {
    position: relative;
    padding-top: 5.039vw;
    padding-bottom: 3.657vw;
    /* padding-bottom: 4.865vw; */
    background-color: white;
}

.riwayat-transaksi-container .detail-big-container .detail-riwayat-container .riwayat-pembayaran svg {
    position: relative;
    top: 8vw;
}

.riwayat-transaksi-container .detail-big-container .detail-riwayat-container .riwayat-pembayaran img {
    position: relative;
    top: 8vw;
    //left: 5vw;
}

.riwayat-transaksi-container .detail-big-container .detail-riwayat-container .riwayat-pembayaran .header {
    font-family: 'Nunito';
    font-size: 2.899vw;
    z-index: 2;
    position: relative;
    font-weight: 700;
    color: rgba(48, 59, 74, 0.72);
    padding-top: 0.5vw;
    margin-left: 3vw;
}

.riwayat-transaksi-container .detail-big-container .detail-riwayat-container .riwayat-pembayaran .footer {
    font-family: 'Nunito';
    font-size: 3.200vw;
    font-weight: 400;
    position: relative;
    color: #65768B;
    z-index: 2;
    top: -1.15vw;
    margin-left: 3vw;
}

.riwayat-transaksi-container .detail-big-container .detail-riwayat-container .riwayat-money {
    text-align: end;
    position: absolute;
    top: 3.95vw;
    left: -3.686vw;
    width: 100%;
}

.riwayat-transaksi-container .detail-big-container .detail-riwayat-container .riwayat-number {
    font-size: 10.667vw;
    /* color: #F6F7F8; */
    color: #ECEEF2;
    z-index: 1;
    /* color: rgba(0, 0, 0, 1); */
    position: absolute;
    bottom: 0.45vw;
    left: 3vw;
    font-family: 'Montserrat';
    font-weight: bold;
}

.riwayat-transaksi-container .detail-big-container .detail-riwayat-container .riwayat-money .header {
    font-family: 'Nunito';
    font-size: 4.267vw;
    font-weight: 700;
    color: #000000;
    color: #0057E7;
    /* width: 58.686vw; */
    margin-left: 7vw;
}

.div-after-dot {
    position: relative;
    top: -5.6vw;
    left: 5vw;
    width: 82vw;
    font-size: 3.933vw;
    margin-bottom: -8vw;
}

.dot {
    height: 2vw;
    width: 2vw;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.riwayat-transaksi-container .detail-big-container .detail-riwayat-container .riwayat-money .footer {
    font-family: 'Nunito';
    font-size: 3.200vw;
    font-weight: 400;
    color: #4081ED;
    /* color: rgba(48, 59, 74, 0.72); */
    margin-left: 7vw;
}

.riwayat-transaksi-container .footer-static {
    position: fixed;
    /* top: 50vw; */
    bottom: 0;
    width: 100%;
    box-shadow: 0.905vw 0px 5.43vw rgba(0, 0, 0, 0.1);
    padding-left: 6vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background: white;
    // position: relative;
    // top: 50vw;
    // /* bottom: 0; */
    // width: 100%;
    // box-shadow: 0.905vw 0px 5.43vw rgba(0, 0, 0, 0.1);
    // padding-left: 6vw;
    // padding-top: 2vw;
    // padding-bottom: 2vw;
    // background: white;
}

.riwayat-transaksi-container .footer-static .blue {
    font-weight: 700;
    font-size: 3.836vw;
    color: #007ACF
}

.riwayat-transaksi-container .footer-static .grey {
    color: #9DA7AE;
    font-weight: 400;
    font-size: 3.182vw;
}

.riwayat-transaksi-container .footer-static .fa.fa-chevron-right.custom-wagon {
    position: absolute;
    top: 4vw;
    right: 12vw;
    color: #007ACF;
    font-size: 3vw;
}

.container-pilih-periode .x-container-width {
    color: #ADA6AE;
    position: absolute;
    right: 4.299vw;
    top: 4.299vw;
    font-size: 4.853vw;
}

.container-pilih-periode .header-periode {
    text-align: center;
    position: relative;
    font-weight: 700;
    font-family: 'TTInterfaces';
    top: -1vw;
    width: 100%;
    font-size: 4.091vw;
}

.container-pilih-periode .subHeader-periode {
    position: relative;
    font-weight: 500;
    font-family: 'TTInterfaces';
    color: #C4C4C4;
    width: 58.357vw;
    left: 20vw;
    top: 1vw;
    font-size: 3.367vw;
    text-align: center;
}

.container-pilih-periode .tanggal-list {
    display: flex;
    position: relative;
    top: 10vw;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-pilih-periode .tanggal-list .start {
    border: 0.345vw #C4C4C4 solid;
    text-align: center;
    padding: 2.567vw 5.567vw;
    border-radius: 1vw;
    margin-right: 6vw;
}

.container-pilih-periode .tanggal-list .start.blue-print {
    border: 1px solid #007ACF;
    text-align: center;
    padding: 2.567vw 5.567vw;
    border-radius: 1vw;
    margin-right: 6vw;
}

.container-pilih-periode .tanggal-list .start .word {
    color: #ADA6AE;
    font-size: 2.715vw;
    font-family: 'TTInterfaces';
}

.container-pilih-periode .tanggal-list .start .date {
    font-family: 'TTInterfaces';
    color: rgba(97, 90, 90, 1);
    font-size: 3.620vw;
}

.container-pilih-periode .tanggal-list .start .date.blue-print {
    font-family: 'TTInterfaces';
    color: #007ACF;
    font-size: 3.620vw;
}

.container-pilih-periode .tanggal-list .end.blue-print {
    border: 1px solid #007ACF;
    text-align: center;
    padding: 2.567vw 5.567vw;
    border-radius: 1vw;
    margin-left: 6vw;
}

.container-pilih-periode .tanggal-list .end {
    border: 0.345vw #C4C4C4 solid;
    text-align: center;
    padding: 2.567vw 5.567vw;
    border-radius: 1vw;
    margin-left: 6vw;
}

.container-pilih-periode .tanggal-list .end .word {
    color: #ADA6AE;
    font-size: 2.715vw;
    font-family: 'TTInterfaces';
}

.container-pilih-periode .tanggal-list .end .date {
    font-family: 'TTInterfaces';
    color: rgba(97, 90, 90, 1);
    font-size: 3.620vw;
}

.container-pilih-periode .tanggal-list .end .date.blue-print {
    font-family: 'TTInterfaces';
    color: #007ACF;
    font-size: 3.620vw;
}

.container-pilih-periode .tanggal-list .fa.fa-chevron-right.custom-wagon {
    color: #C4C4C4;
    font-size: 3vw;
}

.container-pilih-periode .suplementary-div {
    position: relative;
    top: 25vw;
}

.container-pilih-periode .error-wording-tanggal {
    padding-top: 4.244vw;
    margin-right: 5.040vw;
    margin-left: 3.448vw;
    padding-left: 4.244vw;
    padding-bottom: 4.244vw;
    position: relative;
    top: 14vw;
    border-radius: 2.122vw;
    border: 0.265vw red solid;
}

.notifikasi-me-container.edit-riwayat {
    top: 0vw;
    left: -4vw;
    z-index: 1;
}

.container-transaksi-detail .container-belum-dicairkan {
    margin-right: 4vw;
    position: relative;
    border-bottom: 0.267vw #E8EBEC solid;
    margin-left: 4.267vw;
    margin-bottom: 2.400vw;
}

.container-transaksi-detail .container-belum-dicairkan .header {
    position: relative;
    font-weight: 700;
    font-size: 3.200vw;
    left: 7.667vw;
    padding-bottom: 1.34vw;
}

.container-transaksi-detail .container-belum-dicairkan .foot-string {
    position: relative;
    left: 7.667vw;
    font-size: 3.200vw;
    color: rgba(101, 118, 139, 1);
    font-weight: 400;
}

.container-transaksi-detail .container-belum-dicairkan .foot-date {
    position: relative;
    left: 7.667vw;
    font-size: 3.200vw;
    color: #65768b;
    margin-bottom: -2vw;
    font-weight: 400;
}

.container-transaksi-detail .container-belum-dicairkan .money {
    position: absolute;
    right: 6vw;
    top: 5.45vw;
    font-weight: 700;
    font-size: 3.733vw;
}

.container-transaksi-detail .container-telah-dicairkan {
    margin-right: 4vw;
    position: relative;
    margin-left: 4.267vw;
    margin-bottom: 2.400vw;
    margin-top: 11.467vw;
}

.brown-color-fully {
    background-color: #F7F8F9!important;
}

.no-box-shadow {
    box-shadow: none!important;
}

.overlay-margin-bottom {
    margin-bottom: -71vw;
}

.overlay-margin-bottom-pencairan {
    margin-bottom: -71vw;
}

.tanggal .idle-time {
    color: rgba(48, 59, 74, 0.72);
    font-weight: 400;
    font-size: 2.899vw;
}

.adjust-paddingtop-custom-101vw {
    padding-top: 31vw !important;
}

.container-transaksi-detail .list-pencairan-party {
    border: 0.267vw solid #ECEEF2;
    background: rgba(255, 255, 255, 0.72);
    margin-left: 3.733vw;
    margin-right: 3.733vw;
    padding-left: 4.267vw;
    margin-bottom: 4.267vw;
    padding-right: 4.267vw;
    border-radius: 1.067vw;
}

.border-none {
    border: none!important;
}

.container-transaksi-detail .list-pencairan-party .header-tanggal {
    font-weight: 700;
    color: rgba(48, 59, 74, 0.4);
    margin-left: 2.133vw;
    margin-top: 4.267vw;
    font-size: 4.267vw;
    padding-bottom: 4.267vw;
}

.container-transaksi-detail .list-pencairan-party .pencairan1,
.container-transaksi-detail .list-pencairan-party .pencairan2,
.container-transaksi-detail .list-pencairan-party .pencairan3 {
    display: flex;
    border-radius: 0.533vw;
    position: relative;
    width: 100%;
    background: #F7F8F9;
    padding-top: 4vw;
    padding-bottom: 4vw;
    margin-bottom: 1vw;
}

.container-transaksi-detail .list-pencairan-party .pencairan-susulan .nilai-pencairan,
.container-transaksi-detail .list-pencairan-party .pencairan-tertahan .nilai-pencairan {
    display: flex;
    position: relative;
    width: 100%;
    padding-top: 6.667vw;
}

.container-transaksi-detail .list-pencairan-party .pencairan1 .tanggal,
.container-transaksi-detail .list-pencairan-party .pencairan2 .tanggal,
.container-transaksi-detail .list-pencairan-party .pencairan3 .tanggal,
.container-transaksi-detail .list-pencairan-party .pencairan-tertahan .tanggal,
.container-transaksi-detail .list-pencairan-party .pencairan-susulan .tanggal {
    margin-left: 2.133vw;
    color: rgba(48, 59, 74, 0.72);
    font-weight: 700;
    font-size: 3.200vw;
    display: grid;
}

.container-transaksi-detail .list-pencairan-party .pencairan1 .money,
.container-transaksi-detail .list-pencairan-party .pencairan2 .money,
.container-transaksi-detail .list-pencairan-party .pencairan3 .money,
.container-transaksi-detail .list-pencairan-party .pencairan-susulan .money,
.container-transaksi-detail .list-pencairan-party .pencairan-tertahan .money {
    position: absolute;
    right: 0vw;
    display: grid;
    text-align: right;
    // margin-top: -2vw;
    padding-right: 3.200vw;
    color: #0057E7;
    font-weight: 700;
    font-size: 4.267vw;
    top: 2.89vw;
}

.container-transaksi-detail .list-pencairan-party .pencairan-tertahan .header,
.container-transaksi-detail .list-pencairan-party .pencairan-susulan .header {
    text-align: center;
    font-weight: 700;
    font-size: 3.200vw;
    padding-bottom: 0.533vw;
}

.container-transaksi-detail .list-pencairan-party .pencairan-tertahan .footnote,
.container-transaksi-detail .list-pencairan-party .pencairan-susulan .footnote {
    align-items: center;
    text-align: center;
    color: #121518;
    font-size: 2.667vw;
    margin-left: 4.267vw;
    margin-right: 4.267vw;
}

.svgs-header-tips2 {
    margin-left: 2vw;
    margin-top: 2vw;
}

.container-transaksi-detail .list-pencairan-party .pencairan-susulan,
.container-transaksi-detail .list-pencairan-party .pencairan-tertahan {
    width: 100%;
    padding-top: 4.267vw;
    padding-bottom: 4.267vw;
    margin-bottom: 1vw;
    background: #ECEEF2;
    border-radius: 0.533vw;
}

.overlay-context-money {
    top: 5.7vw!important;
}

.container-transaksi-detail .list-pencairan-party .pencairan-total {
    display: flex;
    margin-top: 6vw;
    margin-bottom: 6vw;
    position: relative;
}

.container-transaksi-detail .list-pencairan-party .pencairan-total .wording {
    margin-left: 2.133vw;
    color: rgba(48, 59, 74, 0.4);
    font-weight: 700;
    font-size: 4.800vw;
    font-family: 'Montserrat';
}

.container-transaksi-detail .list-pencairan-party .pencairan-total .money {
    padding-right: 3.200vw;
    color: #121518;
    font-weight: 700;
    font-size: 4.800vw;
    font-family: 'Montserrat';
    position: absolute;
    right: 0vw;
}

.container-transaksi-detail .list-pencairan-party-header {
    border: 0.267vw solid #ECEEF2;
    background: rgba(255, 255, 255, 0.72);
    margin-left: 3.733vw;
    margin-right: 3.733vw;
    padding-left: 4.267vw;
    margin-bottom: 4.267vw;
    padding-right: 4.267vw;
    border-radius: 1.067vw;
}

// *::-webkit-scrollbar {
//     width: 12px;
// }
// *::-webkit-scrollbar-track {
//     background: #F7F8F9;
// }
// *::-webkit-scrollbar-thumb {
//     background-color: #0057E7;
//     border-radius: 20px;
//     border: 3px solid #F7F8F9;
// }
.container-transaksi-detail .list-header-gradually {
    // overflow-y: scroll;
    // height: 41vw;
    // scrollbar-color: rebeccapurple green;
}

.container-transaksi-detail .list-pencairan-party-header .header-tanggal {
    font-weight: 700;
    color: rgba(48, 59, 74, 0.4);
    margin-left: 2.133vw;
    margin-top: 4.267vw;
    font-size: 4.267vw;
    padding-bottom: 2.267vw;
    display: flex;
}

.container-transaksi-detail .list-pencairan-party-header .header-tanggal .tanggal {
    font-weight: 700;
    color: #121518;
    font-family: 'Montserrat';
}

.container-transaksi-detail .list-pencairan-party-header .header-tanggal .hari {
    font-weight: 400;
    color: rgba(48, 59, 74, 0.4);
    margin-left: 2.133vw;
    margin-top: 0.267vw;
    font-size: 3.865vw;
    width: 25%;
}

.header-7hari {
    padding-top: 5.797vw;
    margin-top: -10vw;
    margin-left: 4VW;
    margin-bottom: 2vw;
    color: rgba(48, 59, 74, 0.72);
    font-size: 3.865vw;
    font-family: 'Montserrat';
    font-weight: 400;
    padding-bottom: 3.865vw;
}

.container-transaksi-detail .list-pencairan-party-header .pencairan1,
.container-transaksi-detail .list-pencairan-party-header .pencairan2,
.container-transaksi-detail .list-pencairan-party-header .pencairan3 {
    display: flex;
    border-radius: 0.533vw;
    position: relative;
    width: 100%;
    background: #F7F8F9;
    padding-top: 2.123vw;
    padding-bottom: 2.123vw;
    margin-bottom: 1vw;
}

.container-transaksi-detail .list-pencairan-party-header .pencairan-susulan .nilai-pencairan,
.container-transaksi-detail .list-pencairan-party-header .pencairan-tertahan .nilai-pencairan {
    display: flex;
    position: relative;
    width: 100%;
    padding-top: 6.667vw;
}

.container-transaksi-detail .list-pencairan-party-header .pencairan1 .tanggal,
.container-transaksi-detail .list-pencairan-party-header .pencairan2 .tanggal,
.container-transaksi-detail .list-pencairan-party-header .pencairan3 .tanggal,
.container-transaksi-detail .list-pencairan-party-header .pencairan-tertahan .tanggal,
.container-transaksi-detail .list-pencairan-party-header .pencairan-susulan .tanggal {
    margin-left: 2.133vw;
    color: rgba(48, 59, 74, 0.72);
    font-weight: 700;
    display: grid;
    font-size: 3.200vw;
}

.container-transaksi-detail .list-pencairan-party-header .pencairan1 .money,
.container-transaksi-detail .list-pencairan-party-header .pencairan2 .money,
.container-transaksi-detail .list-pencairan-party-header .pencairan3 .money,
.container-transaksi-detail .list-pencairan-party-header .pencairan-susulan .money,
.container-transaksi-detail .list-pencairan-party-header .pencairan-tertahan .money {
    position: absolute;
    right: 0vw;
    display: grid;
    text-align: right;
    margin-top: -2vw;
    padding-right: 3.200vw;
    color: #0057E7;
    font-weight: 700;
    font-size: 4.267vw;
    top: 2.89vw;
}

.svgs-custom-v3 {
    position: absolute;
    right: 1vw;
    top: -0.8vw;
}

.money .idle-time {
    font-size: 2.899vw;
    font-weight: 400;
    color: #4081ED;
}

.container-transaksi-detail .list-pencairan-party-header .pencairan-tertahan .header,
.container-transaksi-detail .list-pencairan-party-header .pencairan-susulan .header {
    text-align: center;
    font-weight: 700;
    font-size: 3.200vw;
    padding-bottom: 0.533vw;
}

.container-transaksi-detail .list-pencairan-party-header .pencairan-tertahan .footnote,
.container-transaksi-detail .list-pencairan-party-header .pencairan-susulan .footnote {
    align-items: center;
    text-align: center;
    color: #121518;
    font-size: 2.667vw;
    margin-left: 4.267vw;
    margin-right: 4.267vw;
}

.container-transaksi-detail .list-pencairan-party-header .pencairan-susulan,
.container-transaksi-detail .list-pencairan-party-header .pencairan-tertahan {
    width: 100%;
    padding-top: 4.267vw;
    padding-bottom: 4.267vw;
    margin-bottom: 1vw;
    background: #ECEEF2;
    border-radius: 0.533vw;
}

.overlay-context-money {
    top: 5.7vw!important;
}

.container-transaksi-detail .list-pencairan-party-header .pencairan-total {
    display: flex;
    top: 1vw;
    margin-top: 2vw;
    margin-bottom: 1.67vw;
    position: relative;
}

.container-transaksi-detail .list-pencairan-party-header .pencairan-total .wording {
    margin-left: 2.133vw;
    color: rgba(48, 59, 74, 0.4);
    font-weight: 700;
    font-size: 3.465vw;
    font-family: 'Montserrat';
}

.list-pencairan-party .header-tanggal .hari {
    font-weight: 400;
    color: rgba(48, 59, 74, 0.4);
    /* margin-left: 2.133vw; */
    margin-top: 0.267vw;
    font-size: 3.865vw;
    position: absolute;
    right: 9vw;
}

.container-transaksi-detail .list-pencairan-party-header .pencairan-total .money {
    padding-right: 3.200vw;
    color: #121518;
    font-weight: 700;
    right: 4vw;
    font-size: 3.865vw;
    font-family: 'Montserrat';
    position: absolute;
}

.container-transaksi-detail .container-telah-dicairkan {}

.container-transaksi-detail .container-telah-dicairkan .header {
    font-weight: 700;
    font-size: 3.200vw;
    // padding-bottom: 5.600vw;
}

.overlay-bottom-rincian.z-index-2 {
    z-index: 2;
}

.container-transaksi-detail .container-telah-dicairkan .list-data {}

.container-transaksi-detail .container-telah-dicairkan .list-data .date-type {
    padding-top: 6.400vw;
    font-weight: 700;
    font-size: 3.200vw;
    padding-bottom: 3.933vw;
}

.container-transaksi-detail .container-telah-dicairkan .list-data .list-in-list {
    position: relative;
    border-bottom: 0.267vw #E8EBEC solid;
    margin-top: 6vw;
}

.container-transaksi-detail .container-telah-dicairkan .list-data .list-in-list .svgs {
    position: relative;
    top: 2.56vw;
}

.container-transaksi-detail .container-telah-dicairkan .list-data .list-in-list .sub-word-header {
    position: relative;
    left: 7.667vw;
    color: #65768B;
    font-size: 3.200vw;
    top: -9vw;
}

.container-transaksi-detail .container-telah-dicairkan .list-data .list-in-list .foot-word {
    position: relative;
    left: 7.667vw;
    color: #65768B;
    font-size: 3.200vw;
    top: -9vw;
    margin-top: 1vw;
}

.container-transaksi-detail .container-telah-dicairkan .list-data .list-in-list .foot-time {
    position: relative;
    left: 7.667vw;
    color: #65768B;
    font-size: 3.200vw;
    top: -9vw;
    margin-bottom: -4vw;
}

.container-transaksi-detail .container-telah-dicairkan .list-data .list-in-list .foot-money {
    position: absolute;
    top: 3vw;
    right: 7vw;
    font-weight: 700;
    font-size: 3.733vw;
}

.container-transaksi-detail .container-telah-dicairkan .list-data .list-in-list .svgs-check {
    position: absolute;
    top: 3vw;
    right: 0vw;
}

.container-transaksi-detail .container-belum-dicairkan .svgs {
    position: relative;
    top: -7.2vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .box-wielder-notsettle {
    position: relative;
    background-color: white;
    margin-top: 15.467vw;
    margin-bottom: -2.39vw;
    width: 87vw;
    box-shadow: 0px 0.267vw 0.533vw rgba(0, 0, 0, 0.06), 0px 0.533vw 0.267vw rgba(0, 0, 0, 0.04), 0px 0.267vw 1.333vw rgba(0, 0, 0, 0.08);
    padding-left: 4.267vw;
    padding-top: 4.267vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .box-wielder-notsettle .box-header {
    font-size: 3.733vw;
    padding-bottom: 1vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .box-wielder-notsettle .box-money {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 4.800vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .box-wielder-notsettle .box-footnote {
    font-size: 3.200vw;
    color: rgba(48, 59, 74, 0.72);
    padding-bottom: 4.267vw;
    padding-top: 1vw;
}

.riwayat-transaksi-container .riwayat-date-transaksi .box-wielder-notsettle .box-svg {
    position: absolute;
    top: 9.56vw;
    right: 6.56vw;
}

.container-pilih-periode .error-wording-tanggal .header {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 4.775vw;
    padding-bottom: 0.796vw;
}

.container-pilih-periode .error-wording-tanggal .body {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 4.244vw;
    width: 68vw;
    line-height: 6.366vw;
}

.container-pilih-periode .custom-j-calendar {
    position: relative;
    top: 11vw;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.fluid-on-rincian .fixed-header {
    position: fixed;
    top: 2vw;
    width: 100%;
}

.fluid-on-rincian .overLay-background-deflect {
    width: 100%;
    height: 100vh;
    background: black;
    padding-top: 4vw;
    position: fixed;
    bottom: 0;
    z-index: 2;
    opacity: 26%;
}

.fluid-on-rincian .fixed-header .header-boot {
    text-align: center;
    font-family: 'TTInterfaces';
    font-weight: 700;
    color: #000000;
    font-size: 3.620vw;
}

.fluid-on-rincian .fixed-header .header-boot-x {
    font-size: 3.536vw;
    position: fixed;
    /* position: relative; */
    top: 2vw;
    right: 7vw;
    color: #ADA6AE;
}

.fluid-on-rincian .body-fluid {
    border-top-left-radius: 2.133vw;
    border-top-right-radius: 2.133vw;
    position: fixed;
    bottom: 0vw;
    background-color: white;
    z-index: 2;
    width: 100%;
}

.fluid-on-rincian .body-fluid.on-custom {
    padding-bottom: 8.533vw;
    padding-top: 4.267vw;
}

.fluid-on-rincian .body-fluid .container-fluid {
    padding-left: 4.267vw;
    margin-right: 4.267vw;
}

.fluid-on-rincian .body-fluid .container-fluid .big-header-fluid {
    font-weight: 700;
    font-family: 'Montserrat';
    padding-bottom: 3.200vw;
    font-size: 4.800vw;
}

.fluid-on-rincian .body-fluid .container-fluid .small-rincian-fluid {
    line-height: 5.6vw;
    padding-bottom: 5.333vw;
    font-size: 3.793vw;
    text-align: justify;
}

.fluid-on-rincian .body-fluid .container-fluid .button-rincian-fluid {
    width: 100%;
    text-align: center;
    background-color: #0057E7;
    color: white;
    font-weight: 700;
    font-size: 4.267vw;
    border-radius: 2.133vw;
    padding-bottom: 4.267vw;
    padding-top: 4.267vw;
}

.fluid-on-rincian .body-fluid .justify-padding-lr {
    margin-left: 3vw;
    padding-bottom: 16vw;
    padding-top: 5vw;
    margin-right: 3vw;
}

.fluid-on-rincian .body-fluid .relay-header {}

.fluid-on-rincian .body-fluid .relay-header .relay-header-boot {
    text-align: center;
    font-family: 'TTInterfaces';
    font-weight: 700;
    color: #000000;
    font-size: 3.620vw;
}

.fluid-on-rincian .body-fluid .relay-header .relay-header-boot-x {
    font-size: 3.536vw;
    text-align: end;
    top: -5vw;
    position: relative;
    right: 1vw;
    color: #ADA6AE;
}

.fluid-on-rincian .body-fluid .Header-date {
    font-size: 3.562vw;
    font-family: 'TTInterfaces';
    color: #C4C4C4;
    font-weight: 400;
    text-align: center;
    border-bottom: #C4C4C4 0.345vw solid;
    padding-bottom: 2vw;
}

.fluid-on-rincian .body-fluid .Header-wording {
    text-align: center;
    padding-top: 2vw;
    font-family: 'TTInterfaces';
    color: #C4C4C4;
    font-size: 3.620vw;
    padding-bottom: 0vw;
    font-weight: 400;
}

.fluid-on-rincian .body-fluid .Sub-Header-wording {
    padding-top: 1vw;
    /* font-size: 3vw; */
    text-align: center;
    color: rgba(142, 140, 140, 0.83);
    font-size: 3.657vw;
    font-weight: 400;
    font-family: 'TTInterfaces';
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.fluid-on-rincian .body-fluid .Sub-Header-wording img {
    padding-right: 5px;
}

.fluid-on-rincian .body-fluid .Sub-Header-wording .fa.fa-hourglass {
    background: rgba(21, 143, 255, 1);
    color: white;
    border-radius: 50%;
    font-size: 1.843vw;
    /* margin-top: 1vw; */
    text-align: center;
    vertical-align: middle;
    /* width: 4.04vw; */
    /* height: 4.04vw; */
    padding: 0.56vw;
    margin-bottom: 0.54vw;
    margin-right: 1vw;
}

.fluid-on-rincian .body-fluid .total-diterima {
    display: flex;
    padding-top: 3vw;
    background: #eaf6ff;
    padding-bottom: 3vw;
    margin-top: 3vw;
    // border-bottom: #C4C4C4 0.345vw solid;
}

.fluid-on-rincian .body-fluid .total-diterima .wording {
    margin-left: 1.5vw;
    margin-top: 1vw;
    font-size: 3.620vw;
    font-family: 'TTInterfaces';
    font-weight: 500;
    color: #1a1a1a;
}

.fluid-on-rincian .body-fluid .total-diterima .referensi {
    font-weight: 700;
    font-family: 'TTInterfaces';
    color: #1a1a1a;
    font-size: 4.072vw;
    margin-top: 0.35vw;
    position: absolute;
    right: 4.5vw;
}

.fluid-on-rincian .body-fluid .total-diterima .fa.fa-chevron-down.custom-wagon,
.fluid-on-rincian .body-fluid .total-diterima .fa.fa-chevron-up.custom-wagon {
    color: rgba(97, 90, 90, 1);
    margin-left: 4vw;
    margin-top: 0.5vw;
    font-size: 3.65vw;
}

.fluid-on-rincian .body-fluid .chevron-most-list-detail {
    padding-bottom: 1vw;
    padding-top: 3vw;
}

.fluid-on-rincian .body-fluid .chevron-most-list-detail .transaksi {
    display: flex;
    padding-bottom: 2vw;
}

.fluid-on-rincian .body-fluid .chevron-most-list-detail .transaksi .transaksiWording {
    font-family: 'TTInterfaces';
    color: #615A5A;
    font-size: 3.620vw;
}

.fluid-on-rincian .body-fluid .chevron-most-list-detail .transaksi .transaksiMoney {
    position: absolute;
    right: 4vw;
    font-family: 'TTInterfaces';
    color: #1A1A1A;
    font-size: 3.620vw;
}

.fluid-on-rincian .body-fluid .chevron-most-list-detail .biayaAdmin {
    display: flex;
}

.fluid-on-rincian .body-fluid .chevron-most-list-detail .biayaAdmin .biayaAdminWording {
    font-family: 'TTInterfaces';
    color: #615A5A;
    font-size: 3.620vw;
}

.fluid-on-rincian .body-fluid .chevron-most-list-detail .biayaAdmin .biayaAdminNomor {
    position: absolute;
    right: 4vw;
    font-family: 'TTInterfaces';
    color: #1A1A1A;
    font-size: 3.620vw;
}

.fluid-on-rincian .body-fluid .nomor-referensi {
    margin-top: 3vw;
    padding-top: 3vw;
    border-top: #C4C4C4 0.345vw solid;
    padding-bottom: 3vw;
    border-bottom: #C4C4C4 0.345vw solid;
}

.fluid-on-rincian .body-fluid .nomor-referensi .wording {
    margin-left: 1.5vw;
    font-family: 'TTInterfaces';
    font-weight: 400;
    color: #615A5A;
    font-size: 3.620vw;
}

.fluid-on-rincian .body-fluid .nomor-referensi .number {
    text-align: end;
    margin-right: 1.5vw;
    margin-top: -5vw;
    font-size: 3.620vw;
    font-family: 'TTInterfaces';
}

.fluid-on-rincian .body-fluid .transaksi-detail {
    margin-top: 3vw;
    padding-bottom: 3vw;
    border-bottom: #C4C4C4 0.345vw solid;
}

.fluid-on-rincian .body-fluid .transaksi-detail .referensi {
    margin-left: 0vw;
    font-family: 'TTInterfaces';
    font-weight: 400;
    color: rgba(26, 26, 26, 1);
    font-size: 4.345vw;
    padding-bottom: 1vw;
}

.fluid-on-rincian .body-fluid .transaksi-detail .referensi span {
    margin-left: 1.5vw;
    font-family: 'TTInterfaces';
    font-weight: 400;
    color: #1a1a1a;
    font-size: 3.620vw;
}

.fluid-on-rincian .body-fluid .transaksi-detail .referensi .fa.fa-chevron-down.custom-wagon,
.fluid-on-rincian .body-fluid .transaksi-detail .referensi .fa.fa-chevron-up.custom-wagon {
    position: absolute;
    color: #C4C4C4;
    /* margin-left: 65vw; */
    font-size: 3.620vw;
    right: 3vw;
    margin-right: 1.5vw;
}

.fluid-on-rincian .body-fluid .transaksi-detail .items-wording {
    display: flex;
    padding-top: 2vw;
}

.fluid-on-rincian .body-fluid .transaksi-detail .items-wording .left-item {
    font-family: 'TTInterfaces';
    color: #615A5A;
    font-size: 3.620vw;
    margin-left: 1.5vw;
}

.fluid-on-rincian .body-fluid .transaksi-detail .items-wording .right-item {
    position: absolute;
    right: 3vw;
    margin-right: 1.5vw;
    font-family: 'TTInterfaces';
    color: #1A1A1A;
    font-size: 3.620vw;
}