html,
body {
    margin: 0px;
    height: 100%;
    /* background-Color: rgba(0, 87, 231, 1); */
}

p {
    font-family: 'Nunito', sans-serif;
}


/* div.blue-background-bound {
    background-Color: "rgba(0, 87, 231, 1)";
    width: '100%';
    padding-Bottom: '3vh';
} */

#header-dashboard {
    background-color: blue;
    width: 100%;
    padding-bottom: 6vw;
    -webkit-box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.59);
}

img.qr-class {
    padding-top: 12vw;
    display: block;
    max-height: 116.566vw;
    width: 91.59vw;
    margin-left: auto;
    margin-right: auto;
}

div.nama-usaha,
div.tipe-akun {
    width: 100%;
}

div.nama-usaha p,
div.tipe-akun p {
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align: center;
}

div.nama-usaha p {
    margin-top: -2.262vw;
    font-weight: 700;
    font-size: 4.072vw;
}

div.tipe-akun p {
    padding-top: 3.620vw;
    font-weight: 700;
    font-size: 3.620vw;
}

img.qr-class.small-text {
    padding-top: 10%;
    display: block;
    height: 35%;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

div.wording-qr {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3.059vw;
}

div.close-cross {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    top: -1%;
    font-size: 5.618vw;
    position: absolute;
    right: 3%;
}

svg.svgs-close-cross {
    margin-top: 2vw;
    padding-right: 1.932vw;
}

div.close-cross.small-text {
    color: white;
    font-size: 13px;
    font-weight: bolder;
    top: 2.314vw;
    height: 7.729vw;
    position: absolute;
    right: 3.865vw;
    display: flex;
    padding-left: 3.382vw;
    padding-right: 3.382vw;
    background-color: #4081ED;
    border-radius: 9.662vw;
}

div.wording-qr p {
    text-align: center;
    color: white;
    width: 87.647vw;
    line-height: 5.43vw;
    font-size: 4.62vw;
    font-weight: 300;
}

div.button-composer-qr {
    display: flex;
    position: relative;
    margin-right: 5.62vw;
    margin-left: 5.62vw;
}

div.button-composer-qr .button-qr.first {
    display: flex;
    background-color: #004BC8;
    box-sizing: border-box;
    padding: 2.715vw 4.715vw;
    font-family: 'Nunito';
}

div.button-composer-qr .button-qr.last {
    display: flex;
    right: 0vw!important;
    font-family: 'Nunito';
    background-color: #004BC8;
    box-sizing: border-box;
    padding: 2.715vw 4.715vw;
    position: absolute;
    top: 0vw!important;
}

div.button-composer-qr .button-qr .wording {
    font-size: 3.620vw;
    color: #FFFFFF;
    font-weight: 700;
}

div.button-composer-qr Button a,
div.button-composer-qr Button p {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-transform: none;
    font-size: 4.02vw;
    line-height: 5vw;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

div.button-composer-qr Button i {
    font-size: 4.02vw;
}

Button.button-qr {
    border: white 0.226vw solid;
    width: 48%;
    color: white;
    height: 11.312vw;
    background: none;
    box-shadow: none;
    border-radius: 1.62vw;
}

#shareButton.button-qr {
    border: white 0.226vw solid;
    width: 48%;
    color: white;
    height: 11.312vw;
    background: none;
    box-shadow: none;
    border-radius: 1.62vw;
}

Button.button-qr.first {
    margin-right: 4%;
}

div.button-composer-qr.onboard {
    padding-bottom: 30px;
}

#body-dashboard {
    background-color: #E5E5E5;
    /* width: 100%; */
    padding-bottom: 20px;
    position: relative;
    top: -10px;
}

.container-body-iklan {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}


/* .strip-body-iklan:after {
    content: "";
    display: table;
    clear: both;
} */

.strip-body-iklan {
    overflow: hidden;
    position: relative;
    top: 3vw;
    width: 100%;
    height: 15.825vw;
    background-color: white;
    box-shadow: 0px 0px 0px 0.23vw rgba(97, 90, 90, 0.08);
    filter: drop-shadow(0px 0.922vw 1.843vw rgba(97, 90, 90, 0.12));
    border-top-left-radius: 6.912vw;
    border-bottom-left-radius: 6.912vw;
    border-top-right-radius: 1.843vw;
    border-bottom-right-radius: 1.843vw;
}

.strip-body-iklan svg {
    width: 109%;
}

.strip-body-iklan img {
    width: 19.362vw;
    padding-left: 2.375vw;
    position: absolute;
    top: -1.45vw;
    background-color: #E8F3FC;
}

.strip-body-iklan .hashtag-belajar {
    position: absolute;
    top: -5vw;
    padding-top: 6vw;
    padding-bottom: 7vw;
    left: 25.765vw;
    width: 18.303vw;
    /* margin-top: 1vw; */
    /* padding-top: 0vw; */
    /* height: 100%; */
    margin-left: -6.57vw;
    color: #007DFE;
    background-color: #E8F3FC;
    font-size: 3.98vw;
    font-weight: 400;
    font-family: 'Nunito';
}

.strip-body-iklan .cara-meningkatkan {
    position: absolute;
    top: -2vw;
    left: 42vw;
    width: 57.303vw;
    margin-left: 0vw;
    color: #134BBA;
    font-size: 4.187vw;
    font-weight: 700;
}

.strip-body-iklan .penjualan-online {
    position: absolute;
    top: 4.7vw;
    left: 42vw;
    width: 57.303vw;
    margin-left: 0vw;
    color: #134BBA;
    font-size: 3.88vw;
    font-weight: 400;
}

.strip-body-iklan p {
    position: absolute;
    top: -19vw;
    left: 42vw;
    width: 57.303vw;
    margin-left: -4vw;
    color: black;
    font-size: 4.98vw;
    font-weight: 700;
}

.strip-body-iklan .column-img {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.strip-body-iklan .column-word {
    float: left;
    width: 51%;
    padding: 15px;
}


/* 
@media (max-width: 400px) {
    .strip-body-iklan .column-word {
        width: 46%;
    }
}

@media (max-width: 305px) {
    .strip-body-iklan .column-word {
        width: 30%;
    }
} */


/* @media (max-width: 285px) {
    .strip-body-transaksi .column-img {
        float: left;
        width: 19.33%;
        padding: 15px;
    }
} */

.container-body-transaksi {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    overflow: hidden;
}

.container-body-transaksi.more-narrow {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
}

.strip-body-transaksi:after {
    content: "";
    display: table;
    clear: both;
}

.strip-body-transaksi {
    width: 100%;
    height: 29vw;
    margin-bottom: 0.313vw;
    background-color: white;
}

.strip-body-transaksi.smaller {
    width: 100%;
    height: 21vw;
    margin-bottom: 0.313vw;
    background-color: white;
}

.strip-body-transaksi .column-img {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.strip-body-transaksi .column-word {
    float: left;
    width: 51%;
    padding: 15px;
}

.strip-body-transaksi .strip-jumlah-transaksi {
    margin-top: 1.775vw;
    position: relative;
    top: 7vw;
    left: 7vw;
}

.strip-jumlah-transaksi .strip-jumlah-transaksi-header {
    font-weight: 700;
    font-size: 2.715vw;
}

.strip-jumlah-transaksi .strip-jumlah-transaksi-money {
    font-weight: bolder;
    font-size: 5.430vw;
    margin-top: -2.262vw;
}

.strip-jumlah-transaksi .strip-jumlah-transaksi-transaction {
    font-weight: 400;
    font-size: 3.167vw;
    margin-top: -3.846vw;
    color: rgba(97, 90, 90, 1);
}

svg.strip-body-header {
    width: 11.312vw;
    height: 11.312vw;
    position: relative;
    top: -12vw;
    left: 77vw;
}

.strip-jumlah-transaksi .strip-jumlah-transaksi-transaction.number {
    font-weight: 400;
    font-size: 14.480vw;
    color: #F6F7F8;
    z-index: 1;
    /* color: rgba(0, 0, 0, 1); */
    position: absolute;
    bottom: -23vw;
    left: -1vw;
    font-family: 'Montserrat';
    font-weight: bold;
}

.strip-jumlah-transaksi .strip-jumlah-transaksi-transaction.payment {
    font-weight: 400;
    font-size: 3.167vw;
    position: relative;
    z-index: 2;
    color: rgba(0, 0, 0, 1);
}

.strip-jumlah-transaksi .strip-jumlah-transaksi-transaction.time {
    padding-top: 1.5vw;
    color: rgba(173, 166, 174, 1);
    font-size: 2.715vw;
    position: relative;
    z-index: 2;
}

.strip-jumlah-transaksi .strip-jumlah-transaksi-transaction.money {
    font-weight: lighter;
    font-size: 14px;
}

p .strip-jumlah-transaksi-money.bolder {
    position: relative;
    left: 64.56vw;
    top: -8vw;
}

p.new-strip-boulder {
    position: relative;
    left: -6.44vw;
    top: -6.19vw;
    font-size: 3.93vw;
    font-weight: 700;
    color: #011A2C;
    text-align: right;
}

.column-img .strip-jumlah-transaksi-money.bolder {
    font-weight: 700;
    font-size: 3.672vw;
    padding-left: 11vw;
}

.strip-body-footer {
    width: 100%;
    margin-top: -5.6vw;
    background-color: white;
    text-align: center;
}

.strip-body-footer p {
    padding-bottom: 2.262vw;
    padding-top: 2.262vw;
    font-weight: bold;
    font-size: 3.620vw;
    color: rgba(0, 122, 207, 1);
}

.MuiPaper-elevation1 {
    box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1)
}

.strip-footer-help {
    width: 100%;
    text-align: center;
    min-height: 60px !important;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -6vw;
    margin-bottom: -8vw;
}

.strip-footer-help p {
    color: #007ACF;
}

div.current-detail {
    width: 100%;
    font-family: 'Nunito';
    position: relative;
}

div.current-detail .center-detail {
    display: flex;
    justify-content: center;
    width: 100%;
}

div.current-detail .img-incubator {
    display: flex;
    align-items: center;
    width: 14.480vw;
    background-color: #C4C4C4;
    position: absolute;
    height: 14.480vw;
    top: 24vw;
    border-radius: 50%;
}

div.current-detail .recent-detail-info {
    position: absolute;
    top: 48.643vw;
    padding-left: 7.240vw;
}

div.current-detail .recent-detail-info .container-recent {
    margin-bottom: 4.525vw;
}

div.current-detail .recent-detail-info .comp-key {
    font-weight: 400;
    color: rgba(107, 121, 132, 1);
    margin-bottom: 0.3vw;
    font-size: 3.715vw;
}

div.current-detail .recent-detail-info .comp-value {
    font-size: 4.35vw;
    color: rgba(58, 77, 91, 1);
    line-height: 5.430vw;
}

div.current-detail .tahukah-anda-info {
    position: absolute;
    top: 140.697vw;
    left: 4vw;
    background-color: #CFE6F6;
    width: 92%;
    margin-bottom: 3.620vw;
}

div.tahukah-anda-info p {
    width: 63.801vw;
    color: rgba(58, 77, 91, 1);
    padding-left: 4.072vw;
    font-weight: 700;
    font-size: 3.620vw;
    line-height: 5.430vw;
}

div.current-detail .recent-footer {
    position: absolute;
    top: 168.697vw;
    background-color: rgba(241, 241, 242, 1);
    width: 100%;
    padding-top: 6.109vw;
    padding-bottom: 7.919vw;
}

div.current-detail .recent-footer .button-footer-item {
    box-shadow: 0px 0.905vw 0.905vw rgba(0, 0, 0, 0.08);
    margin-left: 4.52vw;
    position: relative;
    margin-bottom: 3.620vw;
    width: 89.602vw;
    background-color: #FFFFFF;
    height: 12.670vw;
    /* padding-top: 6vw; */
    border-radius: 0.905vw;
}

div.current-detail .recent-footer svg {
    position: absolute;
    top: 0.34vw;
}

div.current-detail .recent-footer .button-footer-item .footer-item {
    position: absolute;
    top: 3vw;
    left: 4vw;
    width: 100%;
}

img.icon-flatten-footer {
    width: 5.472vw;
    height: 5vw;
}

span.text-flatten-footer {
    color: #000000;
    font-weight: bold;
    font-size: 3.167vw;
    position: absolute;
    top: 1.05vw;
    left: 7.525vw;
}

div.recent-footer .button-footer-item p {
    position: relative;
    top: 4.072vw;
    left: 4.072vw;
}

div.header-topper {
    position: absolute;
    top: 19.529vw;
    width: 70.362vw;
    left: 3.620vw;
}

div.header-topper p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 4.072vw;
    line-height: 6.109vw;
    color: #2E2E2E;
}

div.body-topper {
    position: absolute;
    top: 40.271vw;
    width: 86.362vw;
    left: 3.620vw;
    text-align: justify;
}

div.body-topper p {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 3.620vw;
    line-height: 6.109vw;
    color: rgba(58, 77, 91, 1);
}

div.help-button-container {
    position: absolute;
    top: 21.991vw;
    margin-left: 3.620vw;
    width: 93%;
    justify-content: center;
}

div.help-button-container .button-digest {
    width: 100%;
    height: 13.670vw;
    margin-bottom: -1.394vw;
    border-radius: 1vw;
    box-shadow: 0px 0.905vw 0.905vw rgba(0, 0, 0, 0.08);
}

div.help-button-container .button-digest p {
    color: rgba(0, 122, 207, 1);
    font-weight: 700;
    font-size: 3.467vw;
    position: relative;
    top: 4.977vw;
    left: 3.620vw;
}

.button-digest span {
    position: relative;
    left: 3.4057vw;
    top: -1.55vw;
}

.button-digest-cc span {
    position: relative;
    left: 2.755vw!important;
    top: -1.55vw;
}

.button-digest-email span {
    position: relative;
    left: 3.995vw;
    top: -1.55vw;
}

.button-digest-tanya span {
    position: relative;
    left: 3.48vw;
    top: -1.55vw;
}

.button-digest span a {
    color: rgba(0, 122, 207, 1);
    font-weight: 700;
    text-decoration: none;
}

.notifikasi-me-container {
    position: relative;
    top: 22.339vw;
    left: 0vw;
}

.notifikasi-me-container .button-anomali {
    position: fixed;
    top: 24vw;
    left: 0vw;
    display: flex;
    justify-content: center;
    width: 100%;
}

.put-top-inmin2478vw {
    background-color: white;
    z-index: 2;
    /* height: 34vw; */
    padding-top: 5.797vw;
    padding-bottom: 4vw;
    top: 19.797vw!important;
    position: fixed!important;
}

.notifikasi-me-container .button-anomali .container-anomali {
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: #ECEEF2;
    border-radius: 1.810vw;
    border: 1px solid #E5E8EA;
}

.notifikasi-me-container .button-anomali .anomali {
    width: 41.783vw;
    justify-content: center;
    display: flex;
    font-weight: 400;
    color: #3A4D5B;
    font-size: 3.282vw;
    padding-top: 2.941vw;
    padding-bottom: 2.941vw;
    margin-bottom: 0.226vw;
    margin-top: 0.226vw;
}

.notifikasi-me-container .button-anomali .anomali.new-anomali {
    width: 44.783vw;
    justify-content: center;
    display: flex;
    font-weight: 400;
    color: #3A4D5B;
    font-size: 3.282vw;
    padding-top: 2.415vw;
    padding-bottom: 2.415vw;
    margin-bottom: 0.226vw;
    margin-top: 0.226vw;
}

.notifikasi-me-container .button-anomali .anomali.active {
    background-color: white;
    border-radius: 1.357vw;
    border: 1px solid #F6F7F8;
    color: #0041AE;
    font-size: 3.282vw;
    font-weight: 700;
    box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, 0.06), 0px 1px 4px -1px rgba(0, 0, 0, 0.08), 0px 0px 2px 1px rgba(1, 26, 44, 0.08);
}

.notifikasi-me-container .news-anomali {
    position: relative;
    top: 18vw;
    left: 7vw;
}

.notifikasi-me-container .news-anomali .container-news-anomali {
    margin-bottom: 3vw;
    position: relative;
}

.notifikasi-me-container .news-anomali .container-news-anomali .news-gold {
    width: 1.810vw;
    height: 1.810vw;
    background-color: #FFB700;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.notifikasi-me-container .news-anomali .container-news-anomali .news-black {
    width: 1.810vw;
    height: 1.810vw;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.notifikasi-me-container .news-anomali .container-news-anomali .news-header {
    position: relative;
    left: 7.167vw;
    top: -1.8vw;
    font-size: 3.92vw;
    font-weight: 700;
    line-height: 5.430vw;
    width: 57.439vw;
}

.notifikasi-me-container .news-anomali .container-news-anomali .news-time {
    position: absolute;
    top: -1.2vw;
    font-weight: 400;
    left: 79vw;
    font-family: 'tt-interfaces';
    color: rgba(173, 166, 174, 1);
    font-size: 3.015vw;
}

.notifikasi-me-container .news-anomali .container-news-anomali .news-body {
    position: relative;
    top: -2vw;
    left: 7.167vw;
    padding-top: 1.905vw;
    padding-bottom: 1.371vw;
    font-family: 'Nunito';
    font-weight: 400;
    color: rgba(58, 77, 91, 1);
    width: 57.439vw;
    font-size: 3.67vw;
}

.MuiPaper-elevation4 {
    box-shadow: unset;
}

.recent-footer .button-footer-item i.fa.fa-chevron-right.custom-wagon {
    color: rgba(97, 90, 90, 1);
    font-size: 3.65vw;
    position: absolute;
    right: 8vw;
    top: 4.95vw;
}

.recent-footer .button-footer-logout {
    border: #0057E7 0.36vw solid;
    font-size: 3.620vw;
    text-align: center;
    margin-top: 5vw;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    border-radius: 1.5vw;
    margin-left: 6vw;
    margin-right: 6vw;
    font-weight: bold;
    color: #0057E7;
}