body {
    margin: 0;
    font-family: "Nunito", "Montserrat", "TTInterfaces", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    touch-action: pan-y!important;
}

@font-face {
    font-family: "TTInterfaces";
    src: local("TTInterfaces"), url(../../../public/Font/TTInterfaces-Regular.ttf) format("truetype");
}

.MuiDialog-paperFullScreen {
    touch-action: pan-y!important;
}

code {
    font-family: "Nunito", "Montserrat", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.cardSlid {
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    text-align: center;
    padding-bottom: 10px;
    h2 {
        font-family: Montserrat;
        font-weight: bold;
        display: flex;
        font-size: 20px;
        line-height: 24px;
        align-items: flex-end;
        text-align: center;
        color: #262b32;
        margin: 0px 8px;
    }
    p {
        font-family: Nunito;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */
        display: flex;
        align-items: flex-end;
        text-align: center;
        color: #6b7984;
        margin: -16px 8px;
        margin-top: 8px;
    }
}

.CarouselItem {
    min-height: 170px;
}

.demo-image-preview {
    position: relative;
    text-align: center;
}

.demo-image-preview>img {
    width: 768px;
}

@media (max-width: 768px) {
    .demo-image-preview>img {
        width: 100%;
    }
}


/* fullscreen enable by props */

.demo-image-preview-fullscreen>img {
    width: 100vw;
    height: 100vh;
}

input#zoom {
    margin: 0 0 20px 0;
    width: 100%;
}

.borderBelow {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
}

// video {
//   margin: 0 12px 20px 0;
//   vertical-align: top;
// }
@media (max-width: 500px) {
    button {
        font-size: 0.8em;
        width: calc(33% - 5px);
    }
}

// @media (max-width: 720px) {
//   video {
//     margin: 0 10px 10px 0;
//   }
// }
canvas {
    display: "block";
    margin: "0 0 20px 0";
}

.imgFoto {
    display: "block";
    margin: "0 0 20px 0";
}

.box {
    display: "inline-block";
    padding: "10px";
    box-sizing: "border-box";
}

.img-preview {
    overflow: hidden;
}

.cropper-container {
    direction: ltr;
    font-size: 0;
    line-height: 0;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cropper-container img {
    display: block;
    height: 100%;
    image-orientation: 0deg;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    width: 100%;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.cropper-wrap-box,
.cropper-canvas {
    overflow: hidden;
}

.cropper-drag-box {
    background-color: #fff;
    opacity: 0;
}

.cropper-modal {
    background-color: #000;
    opacity: 0.5;
}

.cropper-view-box {
    display: block;
    height: 100%;
    outline: 1px solid #39f;
    outline-color: rgba(51, 153, 255, 0.75);
    overflow: hidden;
    width: 100%;
}

.cropper-dashed {
    border: 0 dashed #eee;
    display: block;
    opacity: 0.5;
    position: absolute;
}

.cropper-dashed.dashed-h {
    border-bottom-width: 1px;
    border-top-width: 1px;
    height: calc(100% / 3);
    left: 0;
    top: calc(100% / 3);
    width: 100%;
}

.cropper-dashed.dashed-v {
    border-left-width: 1px;
    border-right-width: 1px;
    height: 100%;
    left: calc(100% / 3);
    top: 0;
    width: calc(100% / 3);
}

.cropper-center {
    display: block;
    height: 0;
    left: 50%;
    opacity: 0.75;
    position: absolute;
    top: 50%;
    width: 0;
}

.cropper-center::before,
.cropper-center::after {
    background-color: #eee;
    content: " ";
    display: block;
    position: absolute;
}

.cropper-center::before {
    height: 1px;
    left: -3px;
    top: 0;
    width: 7px;
}

.cropper-center::after {
    height: 7px;
    left: 0;
    top: -3px;
    width: 1px;
}

.cropper-face,
.cropper-line,
.cropper-point {
    display: block;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    width: 100%;
}

.cropper-face {
    background-color: #fff;
    left: 0;
    top: 0;
}

.cropper-line {
    background-color: #39f;
}

.cropper-line.line-e {
    cursor: ew-resize;
    right: -3px;
    top: 0;
    width: 5px;
}

.cropper-line.line-n {
    cursor: ns-resize;
    height: 5px;
    left: 0;
    top: -3px;
}

.cropper-line.line-w {
    cursor: ew-resize;
    left: -3px;
    top: 0;
    width: 5px;
}

.cropper-line.line-s {
    bottom: -3px;
    cursor: ns-resize;
    height: 5px;
    left: 0;
}

.cropper-point {
    background-color: #39f;
    height: 5px;
    opacity: 0.75;
    width: 5px;
}

.cropper-point.point-e {
    cursor: ew-resize;
    margin-top: -3px;
    right: -3px;
    top: 50%;
}

.cropper-point.point-n {
    cursor: ns-resize;
    left: 50%;
    margin-left: -3px;
    top: -3px;
}

.cropper-point.point-w {
    cursor: ew-resize;
    left: -3px;
    margin-top: -3px;
    top: 50%;
}

.cropper-point.point-s {
    bottom: -3px;
    cursor: s-resize;
    left: 50%;
    margin-left: -3px;
}

.cropper-point.point-ne {
    cursor: nesw-resize;
    right: -3px;
    top: -3px;
}

.cropper-point.point-nw {
    cursor: nwse-resize;
    left: -3px;
    top: -3px;
}

.cropper-point.point-sw {
    bottom: -3px;
    cursor: nesw-resize;
    left: -3px;
}

.cropper-point.point-se {
    bottom: -3px;
    cursor: nwse-resize;
    height: 20px;
    opacity: 1;
    right: -3px;
    width: 20px;
}

@media (min-width: 768px) {
    .cropper-point.point-se {
        height: 15px;
        width: 15px;
    }
}

@media (min-width: 992px) {
    .cropper-point.point-se {
        height: 10px;
        width: 10px;
    }
}

@media (min-width: 1200px) {
    .cropper-point.point-se {
        height: 5px;
        opacity: 0.75;
        width: 5px;
    }
}

.cropper-point.point-se::before {
    background-color: #39f;
    bottom: -50%;
    content: " ";
    display: block;
    height: 200%;
    opacity: 0;
    position: absolute;
    right: -50%;
    width: 200%;
}

.cropper-invisible {
    opacity: 0;
}

.cropper-bg {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
}

.cropper-hide {
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.cropper-hidden {
    display: none !important;
}

.cropper-move {
    cursor: move;
}

.cropper-crop {
    cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
    cursor: not-allowed;
}

.autoCropKtp {
    transform: rotateY(180deg);
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 55%;
}

.MuiSelect-filled.MuiSelect-filled {
    white-space: pre-line;
}

.MuiListItem-gutters {
    padding-left: 5px;
}

.invalid-feedback {
    //display: flex;
    position: relative;
    text-align: left;
    margin-top: 3px;
    color: red;
    margin-left: 12.3px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    backface-visibility: hidden;
    perspective: 1000px;
    //animation-iteration-count: infinite;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiPickersToolbarButton-toolbarBtn {
    min-width: 100%;
}

.footerCap {
    position: absolute;
    bottom: 10px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    text-align: center;
    color: darkgray;
    font-size: small;
}

@media only screen and (max-width: 460px) {
    .footerCap {
        position: relative;
        bottom: 10px;
        margin-inline-start: 20px;
        margin-inline-end: 20px;
        text-align: center;
        color: darkgray;
        font-size: small;
    }
}

ol {
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 40px;
}

ol li {
    margin: 0 0 0.5rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
    ol li::before {
        content: counter(my-awesome-counter) ") ";
    }
}

ol li::before {
    content: counter(my-awesome-counter);
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 1px);
    //line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    text-align: center;
}

.fieldOulined {
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border: solid 0.5px #c7c7c7;
    }
    .MuiFormLabel-root.Mui-focused {
        color: darkgray;
    }
}

.MuiBox-root {
    .MuiInputBase-root.Mui-disabled {
        color: #121518;
        background-color: #f7f8f9;
    }
    .MuiFormLabel-root.Mui-disabled {
        color: #303b4a;
    }
    .MuiFilledInput-underline.Mui-disabled:before {
        border-bottom-style: none;
    }
}

// .informasiLokasiUsaha-search-1{
//   .informasiLokasiUsaha-inputInput-4 {
//     padding: 12px;
//   }
// }
.MuiList-root.listLokasiUsaha.MuiList-padding {
    .MuiListItem-root.Mui-selected,
    .MuiListItem-root.Mui-selected:hover {
        color: #2972eb;
        background-color: whitesmoke;
        outline: auto;
        border-radius: 0px;
        margin-inline-start: 0px;
        height: auto;
    }
}

.MuiGrid-root {
    .MuiFilledInput-root {
        background-color: #f7f8f9;
    }
    .MuiFilledInput-underline:before {
        border-bottom: none;
    }
    .MuiInputLabel-shrink {
        color: #2972eb;
    }
    .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.Mui-error.Mui-error.MuiInputBase-fullWidth.MuiInputBase-formControl {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        backface-visibility: hidden;
        perspective: 1000px;
        //animation-iteration-count: infinite;
    }
    .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-filled.Mui-error.Mui-error {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        backface-visibility: hidden;
        perspective: 1000px;
        //animation-iteration-count: infinite;
    }
}

.MuiGrid-root.inputOwner {
    .MuiBox-root.inputOwnerDis {
        .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-filled.MuiFormLabel-filled {
            color: rgba(48, 59, 74, 0.72);
        }
    }
}

.MuiFormControl-root {
    font-family: Nunito;
    .MuiFormHelperText-root {
        font-family: Nunito;
    }
}

.MuiFormControl-root:hover {
    .MuiFilledInput-root:hover {
        // background-color: #F7F8F9, 100%;
        background-color: rgba(247, 248, 249, 1);
    }
}

.internet-error {
    height: 60px;
    background: #ff8100;
    margin-top: 0;
    font-size: 20px;
    text-align: center;
}

.internet-error p {
    font-size: 25px;
    line-height: 60px;
    color: #fff;
    margin: 0;
}

.MuiGrid-root {
    .MuiFilledInput-root {
        background-color: #f7f8f9;
    }
    .MuiInputLabel-shrink {
        color: #2972eb;
    }
    .MuiFilledInput-underline:before {
        border-bottom: none;
    }
}

.MuiFormControl-root.MuiTextField-root {
    // .MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink MuiInputLabel-filled MuiFormLabel-filled
}

.MuiFormControl-fullWidth {
    .MuiFilledInput-root {
        // background-color: rgba(0, 0, 0, 0)
        background-color: #f7f8f9;
    }
    .MuiInputLabel-shrink {
        color: #2972eb;
    }
    .MuiInputLabel-filled.MuiInputLabel-shrink {
        color: #2972eb;
    }
    .MuiFilledInput-underline:before {
        border-bottom: none;
    }
}

.custom-textfield-prof.MuiFormControl-fullWidth .MuiFilledInput-root {
    background-color: rgba(0, 0, 0, 0)!important;
}

.MuiInputLabel-filled.MuiInputLabel-shrink {
    color: #2972eb;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-containedSizeLarge.MuiButton-sizeLarge.MuiButton-disableElevation {
    width: 90%;
    height: 56px;
    margin-top: 10px;
    text-transform: none;
    margin-bottom: 10px;
    position: absolute;
    display: block;
    bottom: 20px;
    margin-inline-start: 0px;
    border-radius: 8px;
}

.MuiInputLabel-root {
    opacity: unset;
    font-family: "Nunito";
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-filled.MuiFormLabel-filled {
    font-family: "Nunito";
    color: #2972eb;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-filled {
    font-family: "Nunito";
    color: #2972eb;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-filled {
    font-family: "Nunito";
    color: rgba(48, 59, 74, 0.4);
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-filled.Mui-error.Mui-error {
    color: red;
}

.MuiFormControl-root .MuiFormHelperText-root {
    line-height: 14px;
}

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
    font-family: "Nunito";
    font-size: 14px;
    line-height: 21px;
    color: rgba(48, 59, 74, 0.4);
}

.fa.fa-circle {
    color: #a1ceed;
    width: 8px;
    height: 8px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
    opacity: unset;
}

.MuiButton-label {
    font-size: 16px;
    font-weight: 700;
    font-family: "Nunito";
    line-height: 24px;
}

///////gantiiiiiiiii//////////
.MuiList-root.listModal.MuiList-padding {
    width: 92%;
    .MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button {
        border: solid 1px #e5e8ea;
        border-radius: 8px;
        margin-inline-start: 16px;
        height: 56px;
        .MuiListItemText-root {
            color: rgba(48, 59, 74, 0.72);
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            font-family: "Nunito";
        }
    }
    .MuiListItem-root.MuiListItem-gutters.MuiListItem-secondaryAction {
        border: solid 1px #e5e8ea;
        border-radius: 8px;
        margin-inline-start: 16px;
        height: 56px;
        .MuiListItemText-root {
            color: rgba(48, 59, 74, 0.72);
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            font-family: "Nunito";
        }
    }
}

.MuiList-root.listModalUsaha.MuiList-padding {
    width: 100%;
    border: solid 1px #e5e8ea;
    .MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button {
        //border: solid 1px #e5e8ea;
        border-radius: 8px;
        margin-inline-start: 16px;
        height: 56px;
        .MuiListItemText-root {
            color: rgba(48, 59, 74, 0.72);
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            font-family: "Nunito";
        }
    }
    .MuiListItem-root.MuiListItem-gutters.MuiListItem-secondaryAction {
        // border: solid 1px #e5e8ea;
        border-radius: 8px;
        margin-inline-start: 16px;
        height: 56px;
        .MuiListItemText-root {
            color: rgba(48, 59, 74, 0.72);
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            font-family: "Nunito";
        }
    }
}

.MuiInputBase-root {
    font-family: "Nunito";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #121518;
}

.MuiInputBase-input.MuiFilledInput-input {
    font-family: "Nunito";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #6a737c;
    // color: rgba(48, 59, 74, 0.4);
}

.MuiGrid-root {
    .MuiFilledInput-underline:hover:before {
        border-bottom: unset;
    }
}

.MuiList-root.listModal.MuiList-padding {
    .MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock {
        font-family: "Nunito";
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: rgba(48, 59, 74, 0.72);
    }
}

.MuiList-root.listHist.MuiList-padding {
    .MuiListItem-gutters {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
    .MuiListItem-root.Mui-selected,
    .MuiListItem-root.Mui-selected:hover {
        background-color: #d8eefe;
        height: 50px;
        width: 100vw;
        border-radius: 50%;
        text-align: center;
    }
}

.MuiList-root.listPeriod.MuiList-padding {
    .MuiListItem-root.Mui-selected,
    .MuiListItem-root.Mui-selected:hover {
        outline: auto #007acf;
        border-radius: 4px;
        background-color: unset;
    }
}

.MuiList-root.listPeriod.MuiList-padding {
    .aktifOver {
        color: #007acf;
    }
}

.MuiList-root.listPeriod.MuiList-padding {
    .nonAktifOver {
        color: #615a5a;
    }
}

.react-calendar {
    box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.22), 0px 19px 38px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.MuiList-root.listLokasiUsaha.MuiList-padding .MuiListItem-root.Mui-selected,
.MuiList-root.listLokasiUsaha.MuiList-padding .MuiListItem-root.Mui-selected:hover {
    background-color: white;
}

.MuiGrid-root.lokus {
    .MuiFilledInput-root.Mui-focused {
        background-color: transparent;
    }
    .MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputMultiline.MuiFilledInput-inputMultiline {
        padding-top: 10px;
        padding-right: 20px;
    }
    .MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputMultiline.MuiFilledInput-inputMultiline {
        color: #121518;
        font-family: Nunito;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-filled {
        padding-right: 20px;
        line-height: 21px;
    }
}

.imgBlue {
    background-color: #e2f2ff;
}

.imgGray {
    background-color: #E5E8EA;
}

.MuiBox-root.classInfoUsaha {
    .MuiInputBase-input.MuiFilledInput-input {
        color: #121518;
        font-family: Nunito;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    .MuiFilledInput-underline:hover:before {
        border-bottom: unset;
    }
    .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-filled.Mui-error.Mui-error {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        backface-visibility: hidden;
        perspective: 1000px;
    }
    .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.Mui-error.Mui-error.MuiInputBase-fullWidth.MuiInputBase-formControl {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        backface-visibility: hidden;
        perspective: 1000px;
    }
}

// .MuiBox-root.MuiBox-root-20 {
//   .MuiInputBase-input.MuiFilledInput-input{
//     color: #121518;
//     font-family: Nunito;
//     font-size: 16px;
//     font-weight: 400;
//     line-height: 24px;
//   }
// }
.MuiGrid-root.infolokus {
    .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-filled {
        margin-right: 10px;
    }
    .MuiInputBase-input.MuiFilledInput-input {
        color: #121518;
        font-family: Nunito;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    .MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputMultiline.MuiFilledInput-inputMultiline {
        color: #121518;
        font-family: Nunito;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

.MuiBox-root.boxRev {
    .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-filled.MuiFormLabel-filled {
        color: rgba(48, 59, 74, 0.72);
        font-family: 'Nunito';
        font-size: 16px;
        font-weight: 500;
    }
    .MuiInputBase-input.MuiFilledInput-input {
        color: #121518;
        font-family: 'Nunito';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

.MuiBox-root.boxRevNpwp {
    .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-filled.MuiFormLabel-filled {
        color: #6B7984;
        font-family: 'TTInterfaces';
        font-size: 14px;
        font-weight: 500;
    }
    .MuiInputBase-input.MuiFilledInput-input {
        color: #3A4D5B;
        font-family: 'TTInterfaces';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

.MuiFormControl-root.areaProv {
    textarea {
        padding-top: 10px;
    }
}

@media only screen and (max-height: 670px) {
    .MuiGrid-root.butOtp {
        .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-containedSizeLarge.MuiButton-sizeLarge.MuiButton-disableElevation {
            position: relative;
            margin-inline: 0px;
            width: 94%;
            margin-top: 50px;
        }
    }
}

@media only screen and (min-height: 670px) {
    .MuiGrid-root.butOtp {
        .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-containedSizeLarge.MuiButton-sizeLarge.MuiButton-disableElevation {
            position: fixed;
            margin-inline: 0px;
            width: 94%;
        }
    }
}

@media only screen and (max-height: 600px) {
    .MuiBox-root.butLokUs {
        position: relative;
    }
    .MuiGrid-root.butLokUs {
        .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-containedSizeLarge.MuiButton-sizeLarge.MuiButton-disableElevation {
            position: relative;
            margin-inline: 0px;
            width: 95%;
        }
    }
}

@media only screen and (min-height: 600px) {
    .MuiBox-root.butLokUs {
        position: fixed;
    }
    .MuiGrid-root.butLokUs {
        .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-containedSizeLarge.MuiButton-sizeLarge.MuiButton-disableElevation {
            position: fixed;
            margin-inline: 0px;
            width: 91%;
        }
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.close-logo-custom {
    position: absolute;
    right: 3vw;
}

.MuiDialog-container.MuiDialog-scrollPaper .jss2 {
    width: 94vw!important;
    margin-inline-start: 3vw !important;
}

.MuiInputBase-root.jss4.MuiInputBase-adornedEnd {
    // color: inherit;
    width: 100%!important;
}

@media(max-width:500px) {
    .close-logo-custom {
        position: absolute;
        right: 6vw;
    }
}

.Connect\(informasiLokasiUsaha\)-inputRoot-4 {
    color: inherit;
    width: 100%;
}

.MuiDialog-container.MuiDialog-scrollPaper {
    .Connect\(informasiLokasiUsaha\)-search-2 {
        width: 94vw;
        margin-inline-start: 3vw!important;
    }
    .Connect\(informasiLokasiUsaha\)-search-2:hover {
        width: 94vw;
        margin-inline-start: 3vw!important;
        background-color: #F7F6F6;
    }
}