.constructor-uploader {
    margin-left: 3.525vw;
    margin-right: 3.525vw;
    position: relative;
    margin-top: 3vw;
    height: 100vh;
}

.constructor-uploader .header-judul {
    position: relative;
    top: 6.335vw;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 4.072vw;
    text-align: center;
    width: 100%;
}

.constructor-uploader .image-judul {
    text-align: center;
    position: relative;
    top: 14.253vw;
    width: 100%;
}

.constructor-uploader .body-wording {
    position: relative;
    top: 21.633vw;
}

.constructor-uploader .body-wording .li-wording {
    margin-bottom: 5.656vw;
    left: 1vw;
}

.constructor-uploader .body-wording .li-wording .blue-dot {
    background-color: rgba(161, 206, 237, 1);
    width: 1.810vw;
    height: 1.810vw;
    border-radius: 50%;
    margin-right: 3.167vw;
}

.constructor-uploader .body-wording .li-wording .wording-me {
    margin-top: -3.21vw;
    margin-left: 4vw;
    font-weight: 400;
    font-family: 'Nunito';
    color: rgba(107, 121, 132, 1);
    font-size: 4.22vw;
}

.constructor-uploader .button-footer-klik {
    position: fixed;
    bottom: 5vh;
    width: 93%;
    text-align: center;
    padding-top: 2.0486555697823303vh;
    padding-bottom: 2.0486555697823303vh;
    background-color: rgba(0, 87, 231, 1);
    font-family: 'Nunito';
    font-weight: 700;
    color: #FFFFFF;
    font-size: 3.620vw;
    border-radius: 1.810vw;
}

.constructor-uploader .button-footer-klik-npwp {
    position: fixed;
    bottom: 13vh;
    width: 93%;
    text-align: center;
    padding-top: 2.0486555697823303vh;
    padding-bottom: 2.0486555697823303vh;
    background-color: rgba(0, 87, 231, 1);
    font-family: 'Nunito';
    font-weight: 700;
    color: #FFFFFF;
    font-size: 3.620vw;
    border-radius: 1.810vw;
}

.constructor-uploader .button-footer-galeri-npwp {
    position: fixed;
    bottom: 5vh;
    width: 93%;
    text-align: center;
    padding-top: 2.0486555697823303vh;
    padding-bottom: 2.0486555697823303vh;
    background-color: rgba(0, 87, 231, 1);
    font-family: 'Nunito';
    font-weight: 700;
    color: #FFFFFF;
    font-size: 3.620vw;
    border-radius: 1.810vw;
}