#white-flash.normal {
  transform: rotateY(180deg);
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  opacity :1;
  transition:opacity .2s ease-out;
}

#white-flash.do-transition {
  opacity: 0;
  background: white;
}
