Button.startReg-button {
    position: absolute;
    bottom: 0vh;
    border-radius: 8px;
    /* margin-top: 186px; */
    text-transform: none;
    margin-bottom: 20px;
    height: 56px;
    width: 92.56%;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #0057E7!important;
}

.MuiBox-root.boxRev .MuiInputBase-input.MuiFilledInput-input {
    background-color: white;
}

.MuiBox-root.boxRevNpwp .MuiInputBase-input.MuiFilledInput-input {
    background-color: white;
}

.MuiButton-containedPrimary {
    background-color: #0057E7!important;
}

.MuiButton-contained.Mui-disabled {
    background-color: rgba(0, 0, 0, 0.12)!important;
}

Button.changeBackgroundToBlue {
    background-color: #0057E7!important;
}

@media screen and (max-height: 610px) {
    Button.startReg-button {
        position: relative;
        bottom: 0vh;
        width: 100%;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-transform: none;
    }
}