.header-bg-blue {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 19.910vw;
    width: 100%;
    background-color: #0057E7;
}

.header-bg-blue-riwayat {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    height: 19.910vw;
    width: 100%;
    background-color: #0057E7;
}

.header-bg-blue-riwayat .incubator-word {
    font-family: 'Montserrat';
    font-weight: 700;
    color: #FFFFFF;
    font-size: 6.072vw;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-bg-blue-riwayat p {
    position: absolute;
    bottom: 2.2vw;
    font-size: 4.65vw;
    font-family: 'Montserrat';
}

.header-bg-blue .incubator-word {
    font-family: 'Montserrat';
    font-weight: 700;
    color: #FFFFFF;
    font-size: 6.072vw;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-bg-blue p {
    position: absolute;
    bottom: 2.2vw;
    font-size: 4.65vw;
    font-family: 'Montserrat';
}